/* Menu */

.main .mainMenu {
  width: 100vw;
  background-color: var(--color-menu);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25rem, auto));
  gap: 1.5rem;
  padding: 0 7rem 7rem;
  margin: 0 auto;
}

.main .mainMenu .tituloMenu {
  font-size: 3rem;
  width: 100%;
  margin: auto;
  text-align: center;
  grid-column: 1 / -1;
}

.main .mainMenu .containerPratos {
  width: 100%;
  height: 100%;
}

.main .mainMenu .containerPratos .menuPratos {
  width: 100%;
}

.main .mainMenu .menuPratos .imgPratos {
  height: 75%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.main .mainMenu .menuPratos .imgPratos::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(0.3px);
  border-radius: 2rem 2rem 0 0;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.main .mainMenu .menuPratos .imgPratos:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(1.1);
}

.main .mainMenu .menuPratos .imgPratos:hover .btn-prato {
  animation: amostrarButton 1s;
  opacity: 1;
  transition: opacity 0.3s;
}

.main .mainMenu .menuPratos .imgPratos img {
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}

.main .mainMenu .menuPratos .infoPrato {
  bottom: 1.5rem;
  padding: 1rem 1rem 0;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.main .mainMenu .menuPratos .infoPrato .tituloPadrao {
  font-size: 1.5rem;
  flex-grow: 1;
}

.main .mainMenu .menuPratos .infoPrato .ingredientePrato {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5rem 0;
}

.main .mainMenu .menuPratos .infoPrato .precoPrato {
  font-size: 2rem;
  right: 1rem;
  bottom: 3rem;
  color: var(--color-primary);
}

.main .mainMenu .btn-prato {
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  border-radius: 0% 0% 2rem 2rem;
  cursor: pointer;
  background-color: var(--color-hover);
  color: var(--color-text);
  overflow: hidden;
  position: relative;
  text-align: start;
  padding-left: 1rem;
  opacity: 0;
}

.main .mainMenu .btn-prato .carrinhoAdiciona {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  color: var(--color-text);
  text-align: end;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@keyframes amostrarButton {
  0% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
    overflow: visible;
  }
}

.main .mainMenu .menuPratos .infoPrato,
.main .mainMenu .menuPratos .precoPrato {
  z-index: 2;
}

@media (max-width: 32rem) {
  .main .mainMenu {
    padding: 0;
  }

  .main .mainMenu .menuPratos {
    padding: 0 1.5rem;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
  }

  .main .mainMenu .menuPratos .btn-prato {
    opacity: 1;
  }

  .main .mainMenu .menuPratos .imgPratos:hover .btn-prato {
    animation: none;
  }
}
