/* Main geral */

.main {
  width: 100vw;
  height: auto;
  background-color: var(--color-header);
  margin: 0 auto;
}

/* Apresentacao / Inicio */

.main .mainApresentacao {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(/public/mainImagens/apresentacao.webp) center/cover no-repeat;
  backdrop-filter: blur(4px) saturate(150%);
  position: relative;
  margin: auto;
}

.main .mainApresentacao::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(3px);
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .mainApresentacao .tituloPrincipal {
  font-size: 5rem;
  margin: 2rem 3rem 0;
}

.main .mainApresentacao .apresentacaoLinha {
  content: "";
  border: solid 1px white;
  width: 15rem;
  height: 2px;
  align-self: start;
  margin: 1rem 0 0 3rem;
}

.main .mainApresentacao .textoPadrao {
  font-size: 1.5rem;
  margin: 3rem 3rem;
  color: white;
  width: 80vw;
}

.main .mainApresentacao .tituloPrincipal,
.main .mainApresentacao .apresentacaoLinha,
.main .mainApresentacao .textoPadrao {
  z-index: 2;
}

@media (max-width: 32rem) {
  .main {
    text-align: center;
  }

  .main .mainApresentacao .tituloPrincipal {
    font-size: 3rem;
  }

  .main .mainApresentacao .apresentacaoLinha {
    width: 9rem;
    margin: 1rem auto 0;
  }

  .main .mainApresentacao .textoPadrao {
    width: 90vw;
    margin: 2rem auto 0;
  }
}
