/* Evento */

.main .mainEventos {
  background: url(/public/main-imagens/eventos.png) top / cover no-repeat;
  width: 100vw;
  min-height: 43vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .mainEventos::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(0.3px);
  border-radius: 2rem;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .mainEventos .secaoEventos {
  width: 100%;
  height: 100%;
  text-align: end;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  z-index: 2;
}

.main .mainEventos .secaoEventos h2 {
  font-size: 3rem;
}

.main .mainEventos .secaoEventos .apresentacaoLinha {
  content: "";
  border: solid 1px white;
  width: 10rem;
  height: 2px;
  align-self: end;
  margin: 1rem 0 3rem;
}

.main .mainEventos .secaoEventos p {
  font-size: 1.5rem;
}

.main .mainEventos .secaoEventos button {
  font-size: 1.7rem;
  width: 17rem;
  margin: 3rem 0 0;
  cursor: pointer;
  padding: 1rem;
  background-color: var(--color-hover);
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  color: var(--color-text);
}

.main .mainEventos .secaoEventos button:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

@media (max-width: 32rem) {
  .main .mainEventos .secaoEventos {
    text-align: center;
  }
  .main .mainEventos .secaoEventos .apresentacaoLinha {
    align-self: center;
  }

  .main .mainEventos .secaoEventos button {
    margin: 2.5rem auto 0;
  }
}
