body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1,
h2 {
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}

li {
  list-style-type: none;
}

:root {
  --color-bg: #0f0f0f;
  --color-header: #1a1a1a;
  --color-menu: #202020;
  --color-footer: #121212;
  --color-primary: #ffd700;
  --color-accent: #e63946;
  --color-text: #e5e5e5;
  --color-muted: #a0a0a0;
  --color-border: #141414dc;
  --color-hover: #ffb703;
  --color-text-hover: #ffd700;
}
